.hero {
  position: relative;
}

.hero::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 188px;
    background-color: $base-white;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.hero__toggle {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 80px;
    bottom: 188px;
  }

  @media (min-width: $desktop-width) {
    bottom: 0;
  }
}

.hero__toggle--prev {
  left: 0;

  &:hover,
  &:focus {
    background: linear-gradient(to right, $base-white, transparent);
  }

  &:active {
    background: linear-gradient(to right, $base-primary, transparent);
  }
}

.hero__toggle--next {
  right: 0;

  &:hover,
  &:focus {
    background: linear-gradient(to left, $base-white, transparent);
  }

  &:active {
    background: linear-gradient(to left, $base-primary, transparent);
  }
}

.hero__toggle--disabled {
  &:hover,
  &:focus,
  &:active {
    background: transparent;

    &::after {
      background-color: $base-grey;
    }
  }
}

.hero__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $base-primary;
  mask-image: url("../../images/icons/stack.svg#arrow");
  mask-size: 20px 11px;
}

.hero__toggle--next::after {
  transform: rotate(180deg);
}

.hero__input-container {
  display: flex;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 24px;
  border: none;
  padding: 0;
  justify-content: center;
  gap: 8px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.hero__label {
  position: relative;
  width: 62px;
}

.hero__mark {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 10px;
  left: 0;
  background-color: $base-white;
}

.hero__label:hover .hero__mark,
.hero__input:focus + .hero__mark {
  background-color: $primary-opacity;
}

.hero__input:checked + .hero__mark {
  background-color: $base-primary;
}

.hero__wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 20px 60px;
  gap: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 60px 80px 0;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    padding: 30px 80px 84px;
    gap: 30px;
  }
}

.hero__wrapper--slider1 {
  background-color: $flat-white;
}

.hero__wrapper--slider2 {
  background-color: $lavender-latte;
}

.hero__wrapper--slider3 {
  background-color: $espresso;
}

.hero__container {
  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.hero__image-wrapper {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}

.hero__badge {
  @include link-text;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $base-primary;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.hero__title {
  @include hero-text-mobile;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include hero-text-tablet;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.hero__text {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include hero-text-description;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-bottom: 40px;
  }
}

.hero__price-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.hero__old-price {
  @include hero-text-description;
  font-size: 16px;
  text-decoration: line-through;
  color: $base-primary;
  margin-right: 6px;
}

.hero__new-price {
  @include hero-text-description;
  font-weight: 600;
  margin-right: 20px;
}

.hero__button {
  @include button;
}
