.range__container {
  display: grid;
  align-items: center;
  margin-bottom: 24px;
  min-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.range__values {
  display: flex;
  gap: 44px;

  @media (min-width: $tablet-width) {
    gap: 48px;
  }

  @media (min-width: $desktop-width) {
    gap: 50px;
  }
}

.range__input {
  @include regular-text-tablet;
  font-weight: 500;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  text-align: center;
  color: $base-black;
  appearance: textfield;
  background-color: $base-white;

  &::placeholder {
    color: $base-grey;
  }

  &:hover,
  &:focus {
    appearance: textfield;
    outline: none;
    border-color: $primary-darker;
  }

  &:disabled {
    background-color: $lightest-grey;
    border-color: $light-grey;
    color: $base-grey;
  }
}

.noUi-connect {
  background-color: $primary-lighter;
  height: 4px;
}

.noUi-target {
  border: none;
  background-color: $base-grey;
}

.noUi-base {
  height: 4px;
  top: -1px;
}

.noUi-handle {
  box-sizing: border-box;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  background: $base-white;

  &:disabled {
    border-color: $base-grey;
    background: $lightest-grey;
  }
}

.noUi-handle::before {
  display: none;
}

.noUi-handle::after {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid $base-white;
  border-radius: 50%;
}

.noUi-handle:hover,
.noUi-handle:focus {
  &::after {
    display: block;
    background-color: $primary-opacity;
  }
}

.noUi-handle:active {
  &::after {
    display: block;
    background-color: $base-primary;
  }
}

.noUi-horizontal {
  height: 2px;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -10px;
}

.noUi-horizontal .noUi-handle-lower {
  right: -24px;
}

.noUi-horizontal .noUi-handle-upper {
  right: 0;
}
