.page {
  height: 100%;
}

.page__body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Verdana", sans-serif;
  background-color: $light-grey;
}

.page__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: $mobile-width;
  color: $base-black;
  background-color: $base-white;
  box-shadow: 0 0 15px $base-grey;

  @include regular-text-mobile;

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    @include regular-text-tablet;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
