@mixin no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin regular-text {
  font-size: 14px;
  line-height: 20px;
}

@mixin regular-text-tablet {
  font-size: 16px;
  line-height: 24px;
}

@mixin heading-text-big {
  font-weight: 700;
  font-size: 42px;
  line-height: 64px;
}

@mixin heading-text-medium {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

@mixin heading-text-small {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

@mixin link-text {
  font-size: 12px;
  line-height: 16px;
}

@mixin link-decoration {
  @include link-text;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

@mixin button {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 20px;
  color: $base-white;
  background-color: $base-primary;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}
