.header {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.header__logo-container {
  display: flex;
}

.header__logo {
  padding: 12px 20px;
  height: 36px;

  @media (min-width: $tablet-width) {
    padding: 22px 7px 22px 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 20px;
  }
}

.header__text {
  @include link-text;
  margin-top: 24px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.header__list {
  @include no-bullet;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-only) {
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.header__icon {
  @include link-decoration;
  position: relative;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  box-sizing: border-box;

  &:hover,
  &:focus,
  &:active {
    color: $base-primary;

    &::before {
      background-color: $base-primary;
    }
  }

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: fit-content;
    padding: 0 20px;
  }
}

.header__icon::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $base-black;

  @media (min-width: $desktop-width) {
    mask-position: 20px;
  }
}

.header__icon--user::before {
  mask-image: url("../../images/icons/stack.svg#user");
  mask-size: 16px 16px;
}

.header__icon--basket::before {
  mask-image: url("../../images/icons/stack.svg#basket");
  mask-size: 16px 16px;
}

.header__icon-text {
  margin-left: 24px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
