.footer-nav {
  display: flex;
  width: 100%;
  gap: 30px;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    gap: 41px;
  }
}

.footer-nav__container {
  position: relative;

  @media (min-width: $tablet-width) {
    width: calc(100% / 3);
  }
}

@media (max-width: $mobile-width-only) {
  .footer-nav__container::before {
    content: "";
    position: absolute;
    top: -21px;
    right: -20px;
    left: -20px;
    height: 1px;
    background-color: $base-secondary;
  }

  .footer-nav__container::after {
    content: "";
    position: absolute;
    bottom: -21px;
    right: -20px;
    left: -20px;
    height: 1px;
    background-color: $base-secondary;
  }
}

.footer-nav__title {
  @include regular-text;
  margin-top: 0;
  margin-bottom: 12px;
  color: $base-primary;
}

.footer-nav__title--contacts {
  margin-bottom: 20px;
}

.footer-nav__list {
  @include no-bullet;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-nav__list--icon {
  gap: 16px;
}

.footer-nav__link {
  @include link-decoration;
  display: block;
  width: fit-content;
  padding: 8px 0;

  &:hover,
  &:focus {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}

.footer-nav__icon {
  @include regular-text;
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-left: 19px;
}

.footer-nav__icon::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  mask-position: start;
  mask-repeat: no-repeat;
  background-color: $base-primary;
}

.footer-nav__icon--address::before {
  mask-image: url("../../images/icons/stack.svg#address");
  mask-size: 13px 16px;
}

.footer-nav__icon--phone::before {
  mask-image: url("../../images/icons/stack.svg#phone");
  mask-size: 13px 16px;
}
